spring:
  datasource:
    url: jdbc:mysql://localhost:3306/db_erp_login5?createDatabaseIfNotExist=true&userSSL=false&useUnicode=true&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=UTC&jdbcCompliantTruncation=false
    username: root
    password:
  jpa:
    hibernate:
      ddlAuto: update
    showSql: true
    properties:
      hibernate:
        formatSql: true
    database: mysql
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  mvc:
    static-path-pattern: /assets/**
  web:
    resources:
      static-locations: file:./src/main/resources/static/assets/
server:
  port: 8081
