<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Designations</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/assets/css/select2.min.css">

	<!-- Datatable CSS -->
	<link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/index.html">Admin Dashboard</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="/#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/employees.html">All Employees</a></li>
							<li><a href="/holidays.html">Holidays</a></li>
							<li><a href="/leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
							<li><a href="/leaves-employee.html">Leaves (Employee)</a></li>
							<li><a href="/leave-type.html">Leave type</a></li>
							<li><a href="/departments.html">Departments</a></li>
							<li><a class="active" href="/designations.html">Designations</a></li>
						</ul>
					</li>
					<li>
						<a href="/clients.html"><i class="la la-users"></i> <span>Clients</span></a>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/projects.html">Projects</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>HR</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/estimates.html">Estimates</a></li>
							<li><a href="/invoices.html">Invoices</a></li>
							<li><a href="/payments.html">Payments</a></li>
							<li><a href="/expenses.html">Expenses</a></li>
						</ul>
					</li>
					<li>
						<a href="/change-password.html"><i class="la la-lock"></i> <span>Change password</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Designations</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Designations</li>
						</ul>
					</div>
					<div class="col-auto float-right ml-auto">
						<a href="/#" class="btn add-btn" data-toggle="modal" data-target="#add_designation"><i class="fa fa-plus"></i> Add Designation</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped custom-table mb-0 datatable">
							<thead>
							<tr>
								<th style="width: 30px;">ID</th>
								<th>Designation </th>
								<th>Department </th>
								<th class="text-right">Action</th>
							</tr>
							</thead>
							<tbody th:each="designation: ${designations}">
							<tr>
								<td th:text="${designation.getDesignationID()}">id</td>
								<td th:text="${designation.getDesignationName()}">designation name</td>
								<td th:text="${designation.getDepartmentName()}">department name</td>
								<td class="text-right">
									<div class="dropdown dropdown-action">
										<a href="/#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item edit-link" th:href="@{/designation/{id}(id=${designation.getDesignationID()})}" th:data-designation-id="${designation.getDesignationID()}" data-toggle="modal" data-target="#edit_designation"><i class="fa fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item" href="/#" onclick="captureDesignationId(event)" th:data-designation-id="${designation.getDesignationID()}" data-toggle="modal" data-target="#delete_designation"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content -->

		<!-- Add Designation Modal -->
		<div id="add_designation" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Designation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/designation/create}" method="POST" id="addForm">
							<div class="form-group">
								<label>Designation Name <span class="text-danger">*</span></label>
								<input class="form-control" type="text" name="designationName">
							</div>
							<div class="form-group">
								<label>Department <span class="text-danger">*</span></label>
								<select class="select" name="departmentName" id="departmentSelect1">
									<option value="">Select a department</option>
								</select>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add Designation Modal -->

		<!-- Edit Designation Modal -->
		<div id="edit_designation" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Designation</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/designation/updateDesignation}" method="POST" id="editForm">
							<div class="form-group">
								<label>Designation ID <span class="text-danger">*</span></label>
								<input type="text" readonly class="form-control floating" name="designationID">
							</div>
							<div class="form-group">
								<label>Designation Name <span class="text-danger">*</span></label>
								<input class="form-control" type="text" name="designationName">
							</div>
							<div class="form-group">
								<label>Department <span class="text-danger">*</span></label>
								<select class="select" name="departmentName" id="departmentSelect2">
									<option value="">Select a department</option>
								</select>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn" type="submit">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Designation Modal -->

		<!-- Delete Designation Modal -->
		<div class="modal custom-modal fade" id="delete_designation" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Designation</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="/javascript:void(0);" class="btn btn-primary continue-btn" onclick="deleteDesignation()">Delete</a>
								</div>
								<div class="col-6">
									<a href="/javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Designation Modal -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Select2 JS -->
<script src="/assets/js/select2.min.js"></script>

<!-- Datatable JS -->
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Wait for the DOM to be fully loaded

		// Select the <select> element
		const departmentSelect1 = document.getElementById("departmentSelect1");
		const departmentSelect2 = document.getElementById("departmentSelect2");

		// Send a GET request to the endpoint
		fetch('/department/all',{
			headers: headersAuth
		})
				.then((response) => {
					if (!response.ok) {
						throw new Error("Network response was not ok");
					}
					return response.json();
				})
				.then((data) => {
					// Iterate through the fetched data and populate the <select> element
					data.forEach((department) => {
						const option1 = document.createElement("option");
						option1.value = department.departmentName;
						option1.textContent = department.departmentName;

						const option2 = document.createElement("option");
						option2.value = department.departmentName;
						option2.textContent = department.departmentName;

						departmentSelect1.appendChild(option1);
						departmentSelect2.appendChild(option2);
					});
				})
				.catch((error) => {
					console.error("Fetch error:", error);
				});
	});
</script>


<script th:inline="javascript">
	// Edit Designation
	// JavaScript to handle the AJAX call and pre-fill the form
	var editForm = document.getElementById("editForm");

	function populateFormWithData(designation) {
		editForm.querySelector('[name=designationID]').value = designation.designationID;
		editForm.querySelector('[name=designationName]').value = designation.designationName;
		editForm.querySelector('[name=departmentName]').value = designation.departmentName;

		// Select the <select> element for department
		var departmentSelect = editForm.querySelector('[name=departmentName]');
		// Loop through the <select> options and set the selected attribute for the matching option
		for (var i = 0; i < departmentSelect.options.length; i++) {
			if (departmentSelect.options[i].value === designation.departmentName) {
				departmentSelect.options[i].selected = true;
				// Remove the default "Select a department" option
				departmentSelect.querySelector('option[value=""]').remove();
				break;
			}
		}
	}

	document.querySelectorAll(".edit-link").forEach(link => {
		link.addEventListener("click", function(event) {
			event.preventDefault();
			var designationID = link.getAttribute("data-designation-id");
			fetch('/designation/' + designationID, {
				headers: headersAuth
			})
					.then(response => response.json())
					.then(data => populateFormWithData(data))
					.catch(error => console.error(error));
		});
	});

	// JavaScript to handle the form submission and page reload
	editForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(editForm));

		fetch(editForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating designation data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

<script th:inline="javascript">
	// Add Designation
	// JavaScript to handle the AJAX call and pre-fill the form
	var addForm = document.getElementById("addForm");

	// JavaScript to handle the form submission and page reload
	addForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(addForm));

		fetch(addForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating designation data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

<script th:inline="javascript">
	// Delete Designation
	var deleteDesignationId; // Variable to store the designation ID

	function captureDesignationId(event) {
		event.preventDefault();
		deleteDesignationId = event.target.getAttribute("data-designation-id");
	}

	// Function to handle the deletion
	function deleteDesignation() {
		// Check if deleteDesignationId is set
		if (!deleteDesignationId) {
			console.error("Designation ID not captured.");
			return;
		}

		// Send a POST request to delete the designation
		fetch('/designation/delete/' + deleteDesignationId, {
			method: 'POST',
			headers: headersAuth
		})
				.then(response => {
					if (response.ok) {
						// Reload the page after successful deletion
						window.location.reload();
					} else {
						console.error('Error deleting designation.');
					}
				})
				.catch(error => console.error(error));
	}
</script>


<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>

</body>
</html>