<!DOCTYPE html>
<html lang="en"  xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Edit Estimate</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/assets/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/index.html">Admin Dashboard</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="/#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/employees.html">All Employees</a></li>
							<li><a href="/holidays.html">Holidays</a></li>
							<li><a href="/leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
							<li><a href="/leaves-employee.html">Leaves (Employee)</a></li>
							<li><a href="/leave-type.html">Leave type</a></li>
							<li><a href="/departments.html">Departments</a></li>
							<li><a href="/designations.html">Designations</a></li>
						</ul>
					</li>
					<li>
						<a href="/clients.html"><i class="la la-users"></i> <span>Clients</span></a>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/projects.html">Projects</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>HR</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a class="active" href="/estimates.html">Estimates</a></li>
							<li><a href="/invoices.html">Invoices</a></li>
							<li><a href="/payments.html">Payments</a></li>
							<li><a href="/expenses.html">Expenses</a></li>
						</ul>
					</li>
					<li>
						<a href="/change-password.html"><i class="la la-lock"></i> <span>Change password</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Edit Estimate</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Create Estimate</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-sm-12">
					<button id="calculateButton" class="btn btn-primary">Calculate</button>

					<form  id="invoiceForm">
						<div class="row">
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Client <span class="text-danger">*</span></label>
									<select class="select" name="clientID" id="clientID" th:attr="value=${estimate.getClientID()}" th:value="${estimate.getClientID()}" >
										<option>Please Select</option>
										<option selected>1</option>
										<option>2</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Project <span class="text-danger">*</span></label>
									<select class="select"  name="projectID" id="projectID" >
										<option  th:value="${estimate.getProjectID()}" disabled>Select Project</option>
										<option selected>1</option>
										<option>2</option>
									</select>
								</div>
							</div>

							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Email</label>
									<input class="form-control" type="email"  >
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Tax</label>
									<select class="select">
										<option>Select Tax</option>
										<option>VAT</option>
										<option>GST</option>
										<option>No Tax</option>
									</select>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Client Address</label>
									<textarea class="form-control" rows="3"></textarea>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Billing Address</label>
									<textarea class="form-control" rows="3"></textarea>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Estimate Date <span class="text-danger">*</span></label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" name="estimateDate" id="estimateDate" th:value="${estimate.getEstimateDate()}">
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-md-3">
								<div class="form-group">
									<label>Expiry Date <span class="text-danger">*</span></label>
									<div class="cal-icon">
										<input class="form-control datetimepicker" type="text" name="expiryDate" id="expiryDate" th:value="${estimate.getExpiryDate()}">
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12 col-sm-12">

								<div class="tableResponsive">
									<table class="table table-hover table-white">
										<thead>
										<th class="col-sm-2">Item</th>
										<th class="col-md-6">Description</th>
										<th style="width:100px;">Unit Cost</th>
										<th style="width:80px;">Qty</th>
										<th>Amount</th>
										<th> </th>
										</thead>
										<tbody class="item">

										<tr th:each="item : ${estimate.items}">
											<td>
												<input class="form-control name" type="text" style="min-width:150px" th:value="${item.name}">
											</td>
											<td>
												<input class="form-control description" type="text" style="min-width:150px" th:value="${item.description}">
											</td>
											<td>
												<input class="form-control uniteCost" style="width:100px" type="text" th:value="${item.uniteCost}">
											</td>
											<td>
												<input class="form-control Quantity" style="width:80px" type="text" th:value="${item.quantity}">
											</td>
											<td>
												<input class="form-control totalAmount" style="width:120px" type="text" th:value="${item.amount}">
											</td>
											<td>
												<a class="text-success font-18 add-row" title="Add"><i class="fa fa-plus"></i></a>
											</td>
										</tr>

										<!-- Additional rows will be added here -->

										</tbody>
									</table>
								</div>
							</div>
						</div>



						<div class="table-responsive">
							<table class="table table-hover table-white">
								<tbody>
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="text-right"></td>
									<td style="text-align: right; padding-right: 30px;width: 230px"></td>
								</tr>
								<tr>
									<!-- ... previous rows ... -->
									<td colspan="5" class="text-right">Tax</td>
									<td style="text-align: right; padding-right: 30px;width: 230px">
										<input id="taxInput" class="form-control text-right"   type="text">
									</td>
								</tr>
								<tr>
									<!-- ... previous rows ... -->
									<td colspan="5" class="text-right">
										Discount %
									</td>
									<td style="text-align: right; padding-right: 30px;width: 230px">
										<input id="discountInput" class="form-control text-right" type="text">
									</td>
								</tr>
								<tr>
									<!-- ... previous rows ... -->
									<td colspan="5" style="text-align: right; font-weight: bold">
										Grand Total
									</td>
									<td id="finalAmountCell" style="text-align: right; padding-right: 30px; font-weight: bold; font-size: 16px;width: 230px">

									</td>
								</tr>

								</tbody>
							</table>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Other Information</label>
									<input class="form-control" rows="4" id="otherInfo" th:value="${estimate.getOtherInfo()}">
									<input type="hidden" id="idEstimate" th:value="${estimate.getId()}">
								</div>
							</div>
						</div>

						<div class="submit-section">
							<button class="btn btn-primary submit-btn m-r-10">Save & Send</button>
							<button class="btn btn-primary submit-btn">Save</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Page Content -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Select2 JS -->
<script src="/assets/js/select2.min.js"></script>

<!-- Datetimepicker JS -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>


<script>
	$(document).ready(function() {
		// Attach event listener to add-row link
		$('.add-row').on('click', function() {
			var newRow = $('<tr>' +
					'<td><input class="form-control name" type="text" style="min-width:150px"></td>' +
					'<td><input class="form-control description" type="text" style="min-width:150px"></td>' +
					'<td><input class="form-control uniteCost" style="width:100px" type="text"></td>' +
					'<td><input class="form-control Quantity" style="width:80px" type="text"></td>' +
					'<td><input class="form-control totalAmount" style="width:120px" type="text"></td>' +
					'<td><a class="text-success font-18 add-row" title="Add"><i class="fa fa-plus"></i></a></td>' +
					'</tr>');

			// Attach input change event listeners to the new row
			newRow.find('.quantity, .unitCost').on('input', function() {
				calculateAndUpdate();
			});

			// Replace add-row link with remove-row link
			newRow.find('.add-row').removeClass('add-row').addClass('remove-row').html('<i class="fa fa-minus"></i>');

			// Append the new row to the table
			$('.item').append(newRow);

			calculateAndUpdate();
		});

		// Attach event listener to remove-row link
		$(document).on('click', '.remove-row', function() {
			$(this).closest('tr').remove();
			calculateAndUpdate();
		});

		$('#taxInput, #discountInput').on('input', function() {
			calculateAndUpdate();
		});

		$('#calculateButton').on('click', function() {
			calculateAndUpdate();
		});
		function calculateAndUpdate() {
			var totalAmount = 0;

			$('.item tr').each(function(index, row) {
				var quantity = parseFloat($(row).find('.Quantity').val());
				var unitCost = parseFloat($(row).find('.uniteCost').val());
				var rowTotal = quantity * unitCost;

				$(row).find('.totalAmount').val(rowTotal.toFixed(2));
				totalAmount += rowTotal;
			});

			$('#grandTotal').text('$ ' + totalAmount.toFixed(2));

			var tax = parseFloat($('#taxInput').val());
			var discount = parseFloat($('#discountInput').val());

			var taxAmount = (totalAmount * (tax / 100));
			var discountAmount = (totalAmount * (discount / 100));

			var finalAmount = totalAmount + taxAmount - discountAmount;

			//$('#taxInput').val(taxAmount.toFixed(2));
			$('#finalAmountCell').text('$ ' + finalAmount.toFixed(2));
		}
	});
</script>






<script>

	document.getElementById("invoiceForm").addEventListener("submit", function(event) {
		event.preventDefault();

		var invoiceData = {

			id:document.getElementById("idEstimate").value,
			clientID: document.getElementById("clientID").value,
			projectID: document.getElementById("projectID").value,

			tax: document.getElementById("taxInput").value,

			estimateDate: document.getElementById("estimateDate").value,
			expiryDate: document.getElementById("expiryDate").value,

			otherInfo: document.getElementById("otherInfo").value,


			items: []
		};

		var itemDivs = document.getElementsByClassName("item");
		for (var i = 0; i < itemDivs.length; i++) {
			var name = itemDivs[i].getElementsByClassName("name")[0].value;
			var description = itemDivs[i].getElementsByClassName("description")[0].value;

			var uniteCost = itemDivs[i].getElementsByClassName("uniteCost")[0].value;

			var Quantity = itemDivs[i].getElementsByClassName("Quantity")[0].value;

			var amount = itemDivs[i].getElementsByClassName("totalAmount")[0].value;




			invoiceData.items.push({
				name: name,
				description: description,
				uniteCost: uniteCost,
				quantity: Quantity,
				amount: amount,

			});
		}

		// Send the data to the server using AJAX or fetch
		// Example: use fetch to send the data as JSON
		fetch("/createEstimateInvoice/updateEstimatesInvoices", {
			method: "PUT",
			headers: {
				"Content-Type": "application/json",
				'Authorization': `Bearer ${token}`
			},
			body: JSON.stringify(invoiceData),
		})
				.then(response => window.location.href = "/estimates.html")

				//.then(response => response.text())
				//.then(message => {
				//	alert(message);
				//})
				.catch(error => {
					console.error("Error:", error);
				});
	});
</script>


<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>

</body>
</html>