<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Holidays</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>

	<![endif]-->
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/index.html">Admin Dashboard</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="/#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/employees.html">All Employees</a></li>
							<li><a class="active" href="/holidays.html">Holidays</a></li>
							<li><a href="/leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
							<li><a href="/leaves-employee.html">Leaves (Employee)</a></li>
							<li><a href="/leave-type.html">Leave type</a></li>
							<li><a href="/departments.html">Departments</a></li>
							<li><a href="/designations.html">Designations</a></li>
						</ul>
					</li>
					<li>
						<a href="/clients.html"><i class="la la-users"></i> <span>Clients</span></a>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/projects.html">Projects</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>HR</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/estimates.html">Estimates</a></li>
							<li><a href="/invoices.html">Invoices</a></li>
							<li><a href="/payments.html">Payments</a></li>
							<li><a href="/expenses.html">Expenses</a></li>
						</ul>
					</li>
					<li>
						<a href="/change-password.html"><i class="la la-lock"></i> <span>Change password</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Holidays 2023</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Holidays</li>
						</ul>
					</div>
					<div class="col-auto float-right ml-auto">
						<a href="/#" class="btn add-btn" data-toggle="modal" data-target="#add_holiday"><i class="fa fa-plus"></i> Add Holiday</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped custom-table mb-0">
							<thead>
							<tr>
								<th>#</th>
								<th>Title </th>
								<th>Holiday Start</th>
								<th>Holiday End</th>
								<th class="text-right">Action</th>
							</tr>
							</thead>
							<tbody>

							<tr class="holiday-upcoming" th:each="holiday,holidayIndex: ${holidays}">
								<td th:text="${holidayIndex.index + 1}"></td>
								<td th:text="${holiday.getHolidayName()}"></td>
								<td th:text="${holiday.getHolidayDate()}"></td>
								<td th:text="${holiday.getHolidayDateEnd()}"></td>
								<td class="text-right">
									<div class="dropdown dropdown-action">
										<a href="/#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item edit-link" th:href="@{/holiday/{holidayName}(holidayName=${holiday.getHolidayName()})}" th:data-holiday-holidayName="${holiday.getHolidayName()}" data-toggle="modal" data-target="#edit_holiday"><i class="fa fa-pencil m-r-5"></i> Edit</a>
											<a class="dropdown-item edit-link" href="/#"  onclick="captureHolidayName(event)" th:data-holiday-holidayName="${holiday.getHolidayName()}"   data-toggle="modal" data-target="#delete_holiday"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
										</div>
									</div>
								</td>
							</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content -->

		<!-- Add Holiday Modal -->
		<div class="modal custom-modal fade" id="add_holiday" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add Holiday</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/holiday/create}" method="POST"  id="addForm">
							<div class="form-group">
								<label>Holiday Name <span class="text-danger">*</span></label>
								<input class="form-control" type="text" name="holidayName">
							</div>
							<div class="form-group">
								<label>Holiday Start <span class="text-danger">*</span></label>
								<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="holidayDate"></div>
							</div>
							<div class="form-group">
								<label>Holiday End <span class="text-danger">*</span></label>
								<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="holidayDateEnd"></div>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add Holiday Modal -->

		<!-- Edit Holiday Modal -->
		<div class="modal custom-modal fade" id="edit_holiday" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Holiday</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/holiday/updateHoliday}" method="POST" id="editForm">
							<div class="form-group">
								<label>Holiday Name <span class="text-danger">*</span></label>
								<input class="form-control"  type="text"  name="holidayName">
							</div>
							<div class="form-group">
								<label>Holiday Date <span class="text-danger">*</span></label>
								<div class="cal-icon"><input class="form-control datetimepicker"  type="text" name="holidayDate"></div>
							</div>
							<div class="form-group">
								<label>Holiday Date <span class="text-danger">*</span></label>
								<div class="cal-icon"><input class="form-control datetimepicker"  type="text" name="holidayDateEnd"></div>
							</div>
							<div class="submit-section">
								<button class="btn btn-primary submit-btn">Save</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Holiday Modal -->

		<!-- Delete Holiday Modal -->
		<div class="modal custom-modal fade" id="delete_holiday" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Holiday</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="/javascript:void(0);" class="btn btn-primary continue-btn" onclick="deleteHoliday()">Delete</a>
								</div>
								<div class="col-6">
									<a href="/javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Holiday Modal -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- JavaScript function to get the day name from a date string -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Datetimepicker JS -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>



<script th:inline="javascript">
	// Edit Employee
	// JavaScript to handle the AJAX call and pre-fill the form
	var editForm = document.getElementById("editForm");

	function populateFormWithData(holiday) {
		editForm.querySelector('[name=holidayName]').value = holiday.holidayName;
		editForm.querySelector('[name=holidayDate]').value = holiday.holidayDate;
		editForm.querySelector('[name=holidayDateEnd]').value=holiday.holidayDateEnd;

	}

	document.querySelectorAll(".edit-link").forEach(link => {
		link.addEventListener("click", function(event) {
			event.preventDefault();
			var holidayName = link.getAttribute("data-holiday-holidayName");
			fetch('/holiday/' + holidayName, {
				headers: headersAuth
			})
					.then(response => response.json())
					.then(data => populateFormWithData(data))
					.catch(error => console.error(error));
		});
	});

	// JavaScript to handle the form submission and page reload
	editForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(editForm));

		fetch(editForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating holiday data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

////

<script th:inline="javascript">
	// Add Holiday
	// JavaScript to handle the AJAX call and pre-fill the form
	var addForm = document.getElementById("addForm");

	// JavaScript to handle the form submission and page reload
	addForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(addForm));

		fetch(addForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating holiday data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

/////
<script th:inline="javascript">
	// Delete Employee
	var deleteHolidayName; // Variable to store the employee ID

	function captureHolidayName(event) {
		event.preventDefault();
		deleteHolidayName = event.target.getAttribute("data-holiday-holidayName");
	}

	// Function to handle the deletion
	function deleteHoliday() {
		// Check if deleteEmployeeId is set
		if (!deleteHolidayName) {
			console.error("Holiday Name not captured.");
			return;
		}

		// Send a POST request to delete the employee
		fetch('/holiday/delete/' + deleteHolidayName, {
			method: 'POST',
			headers: headersAuth
		})
				.then(response => {
					if (response.ok) {
						// Reload the page after successful deletion
						window.location.reload();
					} else {
						console.error('Error deleting holiday.');
					}
				})
				.catch(error => console.error(error));
	}
</script>


<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>
</body>
</html>