<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Dashboard</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Chart CSS -->
	<link rel="stylesheet" href="/assets/plugins/morris/morris.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>

<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a class="active" href="/index.html">Admin Dashboard</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="/#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/employees.html">All Employees</a></li>
							<li><a href="/holidays.html">Holidays</a></li>
							<li><a href="/leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
							<li><a href="/leaves-employee.html">Leaves (Employee)</a></li>
							<li><a href="/leave-type.html">Leave type</a></li>
							<li><a href="/departments.html">Departments</a></li>
							<li><a href="/designations.html">Designations</a></li>
						</ul>
					</li>
					<li>
						<a href="/clients.html"><i class="la la-users"></i> <span>Clients</span></a>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/projects.html">Projects</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>HR</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/estimates.html">Estimates</a></li>
							<li><a href="/invoices.html">Invoices</a></li>
							<li><a href="/payments.html">Payments</a></li>
							<li><a href="/expenses.html">Expenses</a></li>
						</ul>
					</li>
					<li>
						<a href="/change-password.html"><i class="la la-lock"></i> <span>Change password</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Welcome Admin!</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item active">Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="card dash-widget">
						<div class="card-body">
							<span class="dash-widget-icon"><i class="fa fa-cubes"></i></span>
							<div class="dash-widget-info">
								<h3 th:text="${nombre_projects}"></h3>
								<span>Projects</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="card dash-widget">
						<div class="card-body">
							<span class="dash-widget-icon"><i class="fa fa-usd"></i></span>
							<div class="dash-widget-info">
								<h3 th:text="${nombre_clients}"></h3>
								<span>Clients</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="card dash-widget">
						<div class="card-body">
							<span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
							<div class="dash-widget-info">
								<h3 th:text="${nombre_tasks}"></h3>
								<span>Tasks</span>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-lg-6 col-xl-3">
					<div class="card dash-widget">
						<div class="card-body">
							<span class="dash-widget-icon"><i class="fa fa-user"></i></span>
							<div class="dash-widget-info">
								<h3 th:text="${nombre_employees}"></h3>
								<span>Employees</span>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-12">
					<div class="card-group m-b-30">

						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between mb-3">
									<div>
										<span class="d-block">Earnings</span>
									</div>
								</div>
								<h3 class="mb-3" th:text="${Earning} + Dhs"></h3>
								<div class="progress mb-2" style="height: 5px;">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between mb-3">
									<div>
										<span class="d-block">Expenses</span>
									</div>
								</div>
								<h3 class="mb-3" th:text="${SumExpenses} + Dhs"></h3>
								<div class="progress mb-2" style="height: 5px;">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>

						<div class="card">
							<div class="card-body">
								<div class="d-flex justify-content-between mb-3">
									<div>
										<span class="d-block">Profit</span>
									</div>
								</div>
								<h3 class="mb-3" th:text="${Profit} + Dhs"></h3>
								<div class="progress mb-2" style="height: 5px;">
									<div class="progress-bar bg-primary" role="progressbar" style="width: 70%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h3 class="card-title mb-0">Invoices</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table table-nowrap custom-table mb-0">
									<thead>
									<tr>
										<th>Invoice ID</th>
										<th>Client</th>
										<th>Due Date</th>
										<th>Total</th>
										<th>Status</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="invoice : ${invoices}">
										<td><a th:href="@{/createEstimateInvoice/view/{id}(id=${invoice.getId()})}" th:text="|EST${invoice.getId()}|">View Invoice</a></td>
										<td>
											<h2 th:text="${invoice.getClientID()}"></h2>
										</td>
										<td th:text="${invoice.getExpiryDate()}"></td>
										<td th:text="${invoice.getTotal()}"></td>
										<td th:text="${@statusHelper.getPaymentStatusForInvoice(invoice.getId(), invoice.getTotal())}"></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
							<a href="/invoices.html">View all invoices</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 d-flex">
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h3 class="card-title mb-0">Payments</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table custom-table table-nowrap mb-0">
									<thead>
									<tr>
										<th>Invoice ID</th>
										<th>Paid Date</th>
										<th>Paid Amount</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="payment : ${payments}">
										<td><a th:href="@{/createEstimateInvoice/view/{id}(id=${payment.getInvoiceID()})}" th:text="|EST${payment.getInvoiceID()}|">View Invoice</a></td>
										<td th:text="${payment.getPaidDate()}"></td>
										<td th:text="${payment.getPaidAmount()}"></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
							<a href="/payments.html">View all payments</a>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-6 d-flex">
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h3 class="card-title mb-0">Clients</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table custom-table mb-0">
									<thead>
									<tr>
										<th>Name</th>
										<th>Email</th>
										<th>Phone</th>
										<th>Company name</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="client : ${clients}">
										<td>
											<h2 class="table-avatar">
												<a th:href="@{/client-profile.html/{id}(id=${client.getClientID()})}" class="avatar"><img alt="" th:src="@{'/assets/img/profiles/' + ${client.getImageName()}}"></a>
												<a th:href="@{/client-profile.html/{id}(id=${client.getClientID()})}" th:text="${client.getFirst_Name() + ' ' + client.getLast_Name()}"> <span th:text="${client.getDesignation()}"></span></a>
											</h2>
										</td>
										<td th:text="${client.getPersonnel_Email()}"></td>
										<td th:text="${client.getPersonnel_Phone()}"></td>
										<td th:text="${client.getCompany_Name()}"></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
							<a href="/clients.html">View all clients</a>
						</div>
					</div>
				</div>
				<div class="col-md-6 d-flex">
					<div class="card card-table flex-fill">
						<div class="card-header">
							<h3 class="card-title mb-0">Recent Projects</h3>
						</div>
						<div class="card-body">
							<div class="table-responsive">
								<table class="table custom-table mb-0">
									<thead>
									<tr>
										<th>Project Name </th>
										<th>Due date</th>
										<th>Total hours</th>
										<th>Created By</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="project : ${projects}">
										<td>
											<h2><a th:href="@{/project-view.html/{id}(id=${project.getProjectID()})}" th:text="${project.getProject_Name()}"></a></h2>
										</td>
										<td th:text="${project.getEnd_Date()}"></td>
										<td th:text="${project.getTotal_Hours()}"></td>
										<td th:text="${project.getCreated_By()}"></td>
									</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="card-footer">
							<a href="/projects.html">View all projects</a>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- /Page Content -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Chart JS -->
<script src="/assets/plugins/morris/morris.min.js"></script>
<script src="/assets/plugins/raphael/raphael.min.js"></script>
<script src="/assets/js/chart.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>


<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>

</body>
</html>