<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Login</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body class="account-page">

<!-- Main Wrapper -->
<div class="main-wrapper">
	<div class="account-content">
		<div class="container">

			<!-- Account Logo -->
			<div class="account-logo">
				<a href="/index.html"><img src="/assets/img/logo2.png" alt="Dreamguy's Technologies"></a>
			</div>
			<!-- /Account Logo -->

			<div class="account-box">
				<div class="account-wrapper">
					<h3 class="account-title">Login</h3>
					<p class="account-subtitle">Access to our dashboard</p>

					<!-- Account Form -->
					<form id="login-form">
						<div class="form-group">
							<label>Username</label>
							<input class="form-control" type="text" id="username">
						</div>
						<div class="form-group">
							<div class="row">
								<div class="col">
									<label>Password</label>
								</div>
							</div>
							<input class="form-control" type="password" id="password">
						</div>
						<div class="form-group text-center">
							<button class="btn btn-primary account-btn" type="submit">Login</button>
						</div>
					</form>
					<!-- /Account Form -->

				</div>
			</div>
		</div>
	</div>
</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	document.addEventListener("DOMContentLoaded", function() {
		const loginForm = document.getElementById('login-form');

		loginForm.addEventListener('submit', function(event) {
			event.preventDefault(); // Prevent the default form submission

			const username = document.getElementById('username').value;
			const password = document.getElementById('password').value;

			const formData = new FormData();
			formData.append('username', username);
			formData.append('password', password);

			fetch('/auth/login', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: new URLSearchParams(formData).toString() // Serialize form data
			})
					.then(response => {
						if (response.ok) {
							return response.json();
						} else {
							throw new Error('Login failed');
						}
					})
					.then(data => {
						// Handle successful login
						console.log('Login successful:', data);

						//*****************************************************
						// Get the token
						const token = data.jwt;
						// Store the token in local storage
						localStorage.setItem("jwtToken", token);
						//*****************************************************

						// Check if there's a previous page in the user's history
						if (document.referrer && document.referrer !== window.location.href) {
							// Redirect to the previous page
							window.history.back();
						} else {
							const jwtToken = localStorage.getItem("jwtToken");
							// Decode the JWT
							const jwtPayload = JSON.parse(atob(jwtToken.split('.')[1]));
							// Access the user's role property
							const userRole = jwtPayload.roles;

							if(userRole == 'ADMIN'){
								window.location.href = '/index.html';
							}else{
								window.location.href = '/projects.html';
							}
						}
					})
					.catch(error => {
						// Handle login failure
						console.error('Error logging in:', error);

						// Show an alert indicating login failure
						alert('Login failed. Please check your credentials.');
					});
		});
	});
</script>

</body>
</html>