<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Payments</title>
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">
	<link rel="stylesheet" href="/https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Datatable CSS -->

	<link rel="stylesheet" href="/assets/css/dataTables.bootstrap4.min.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/index.html">Admin Dashboard</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="/#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/employees.html">All Employees</a></li>
							<li><a href="/holidays.html">Holidays</a></li>
							<li><a href="/leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
							<li><a href="/leaves-employee.html">Leaves (Employee)</a></li>
							<li><a href="/leave-type.html">Leave type</a></li>
							<li><a href="/departments.html">Departments</a></li>
							<li><a href="/designations.html">Designations</a></li>
						</ul>
					</li>
					<li>
						<a href="/clients.html"><i class="la la-users"></i> <span>Clients</span></a>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/projects.html">Projects</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>HR</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/estimates.html">Estimates</a></li>
							<li><a href="/invoices.html">Invoices</a></li>
							<li><a class="active" href="/payments.html">Payments</a></li>
							<li><a href="/expenses.html">Expenses</a></li>
						</ul>
					</li>
					<li>
						<a href="/change-password.html"><i class="la la-lock"></i> <span>Change password</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row">
					<div class="col-sm-12">
						<h3 class="page-title">Payments</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Payments</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-striped custom-table datatable mb-0">
							<thead>
							<tr>
								<th>Invoice ID</th>

								<th>Paid Date</th>
								<th>Paid Amount</th>
							</tr>
							</thead>
							<tbody>
							<tr >
								<td><input type="text" class="invoiceID" ></td>

								<td> <input type="date" class="paidDate" ></td>
								<td><input type="text" class="paidAmount" ></td>
								<td>
									<a class="text-success font-18 add-row" title="Add"><i class="fa fa-plus"></i></a>
								</td>

							</tr>
							<tr th:each="payment : ${payments}">
								<td th:text="${payment.getInvoiceID()}" >/td>

								<td  th:text="${payment.getPaidDate()}" > </td>
								<td th:text="${payment.getPaidAmount()}" ></td>

								<td>
									<a class="text-success font-18 deleteButton"   th:attr="data-id=${payment.getId()}"><i class="fa fa-minus"></i></a>
								</td>
							</tr>



							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->
<!-- Datetimepicker JS -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Datatable JS -->
<script src="/assets/js/jquery.dataTables.min.js"></script>
<script src="/assets/js/dataTables.bootstrap4.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>


<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>


<script src="/https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
	$(document).ready(function() {
		$(".add-row").click(function () {
			var $row = $(this).closest("tr");
			var invoiceID = $row.find(".invoiceID").val();
			var paidDate = $row.find(".paidDate").val();
			var paidAmount = $row.find(".paidAmount").val();
			var invoiceData = {
				invoiceID: invoiceID,
				paidDate: paidDate,
				paidAmount:paidAmount
			};


			if (invoiceID !== "" && paidDate !== "" && paidAmount !== "") {
				fetch("/payment/addPayment", {
					method: "POST",
					headers: {
						"Content-Type": "application/json",
						'Authorization': `Bearer ${token}`
					},
					body: JSON.stringify(invoiceData),
				})
						.then(response => window.location.href = "/payments.html")

						//.then(response => response.text())
						//.then(message => {
						//	alert(message);
						//})
						.catch(error => {
							console.error("Error:", error);
						});


				// Create a new row and append to the table
				var newRow = '<tr>' +
						'<td><a href="/invoice-view.html">#' + invoiceID + '</a></td>' +
						'<td>' + paidDate + '</td>' +
						'<td>$' + paidAmount + '</td>' +
						'<td class="text-success font-18  deleteButton"   th:attr="data-id=${payment.getId()}" ><i class="fa fa-minus"></i></td>' +
						'</tr>';

				$("tbody").append(newRow);

				// Send AJAX request to add payment information

				// Clear input fields
				$row.find(".invoiceID").val("");
				$row.find(".paidDate").val("");
				$row.find(".paidAmount").val("");
			}  else {
				alert("Please fill in all fields.");
			}
		})
	})




</script>

<!-- ... Other HTML code ... -->

<script>
	$(document).ready(function () {
		$(".deleteButton").click(function () {
			var leaveID = $(this).attr("data-id");
			var clickedButton = $(this); // Store the reference to the clicked button

			$.ajax({
				url: '/payment/delete/' + leaveID,
				type: 'DELETE',
				headers: headersAuth,
				success: function (result) {
					// Remove the row from the table
					clickedButton.closest("tr").remove();
				},
				error: function (error) {
					console.error("Error:", error);
				}
			});
		});
	});
</script>



<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>
</body>
</html>