<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Projects</title>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/assets/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Summernote CSS -->
	<link rel="stylesheet" href="/assets/plugins/summernote/dist/summernote-bs4.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div id="sidebar-menu" class="sidebar-menu">
				<ul>
					<li class="menu-title">
						<span>Main</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-dashboard"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/index.html">Admin Dashboard</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>Employees</span>
					</li>
					<li class="submenu">
						<a href="/#" class="noti-dot"><i class="la la-user"></i> <span> Employees</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/employees.html">All Employees</a></li>
							<li><a href="/holidays.html">Holidays</a></li>
							<li><a href="/leaves.html">Leaves (Admin) <span class="badge badge-pill bg-primary float-right">1</span></a></li>
							<li><a href="/leaves-employee.html">Leaves (Employee)</a></li>
							<li><a href="/leave-type.html">Leave type</a></li>
							<li><a href="/departments.html">Departments</a></li>
							<li><a href="/designations.html">Designations</a></li>
						</ul>
					</li>
					<li>
						<a href="/clients.html"><i class="la la-users"></i> <span>Clients</span></a>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-rocket"></i> <span> Projects</span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a class="active" href="/projects.html">Projects</a></li>
						</ul>
					</li>
					<li class="menu-title">
						<span>HR</span>
					</li>
					<li class="submenu">
						<a href="/#"><i class="la la-files-o"></i> <span> Accounts </span> <span class="menu-arrow"></span></a>
						<ul style="display: none;">
							<li><a href="/estimates.html">Estimates</a></li>
							<li><a href="/invoices.html">Invoices</a></li>
							<li><a href="/payments.html">Payments</a></li>
							<li><a href="/expenses.html">Expenses</a></li>
						</ul>
					</li>
					<li>
						<a href="/change-password.html"><i class="la la-lock"></i> <span>Change password</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">

		<!-- Page Content -->
		<div class="content container-fluid">

			<!-- Page Header -->
			<div class="page-header">
				<div class="row align-items-center">
					<div class="col">
						<h3 class="page-title">Projects</h3>
						<ul class="breadcrumb">
							<li class="breadcrumb-item"><a href="/index.html">Dashboard</a></li>
							<li class="breadcrumb-item active">Projects</li>
						</ul>
					</div>
					<div class="col-auto float-right ml-auto">
						<a href="/#" class="btn add-btn" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i> Create Project</a>
					</div>
				</div>
			</div>
			<!-- /Page Header -->

			<div class="row">
				<div class="col-lg-4 col-sm-6 col-md-4 col-xl-3" th:each="project: ${projects}">
					<div class="card">
						<div class="card-body">
							<div class="dropdown dropdown-action profile-action">
								<a href="/#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
								<div class="dropdown-menu dropdown-menu-right">
									<a class="dropdown-item edit-link" th:href="@{/project/{id}(id=${project.getProjectID()})}" th:data-project-id="${project.getProjectID()}" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a>
									<a class="dropdown-item" href="/#" onclick="captureProjectId(event)" th:data-project-id="${project.getProjectID()}" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
								</div>
							</div>
							<h4 class="project-title"><a th:href="@{/project-view.html/{id}(id=${project.getProjectID()})}" th:text="${project.getProject_Name()}">Office Management</a></h4>
							<small class="block text-ellipsis m-b-15">

							</small>
							<p class="text-muted" th:text="${project.getDescription()}">Lorem Ipsum is simply dummy text of the printing and
								typesetting industry. When an unknown printer took a galley of type and
								scrambled it...
							</p>
							<div class="pro-deadline m-b-15">
								<div class="sub-title">
									Deadline:
								</div>
								<div class="text-muted" th:text="${project.getEnd_Date()}">
									17 Apr 2019
								</div>
							</div>
							<div class="project-members m-b-15">
								<div>Project Leader :</div>
								<ul class="team-members" th:each="leaderProject: ${project.getLeaderProjectDtoList()}">
									<li>
										<a th:href="@{/profile.html/{id}(id=${leaderProject.getLeaderID()})}" data-toggle="tooltip" th:title="${leaderProject.getFirst_Name() + ' ' + leaderProject.getLast_Name()}"><img alt="" th:src="@{'/assets/img/profiles/' + ${leaderProject.getImageName()}}"></a>
									</li>
								</ul>
							</div>
							<div class="project-members m-b-15">
								<div>Team :</div>
								<ul class="team-members">
									<li class="dropdown avatar-dropdown">
										<a href="/#" class="all-users dropdown-toggle" data-toggle="dropdown" aria-expanded="false">+15</a>
										<div class="dropdown-menu dropdown-menu-right">
											<div class="avatar-group" th:each="employeeProject: ${project.getEmployeeProjectDtoList()}">
												<a th:href="@{/profile.html/{id}(id=${employeeProject.getEmployeeID()})}" class="avatar avatar-xs" th:title="${employeeProject.getFirst_Name() + ' ' + employeeProject.getLast_Name()}">
													<img alt="" th:src="@{'/assets/img/profiles/' + ${employeeProject.getImageName()}}">
												</a>
											</div>
											<div class="avatar-pagination">
												<ul class="pagination">
													<li class="page-item">
														<a class="page-link" href="/#" aria-label="Previous">
															<span aria-hidden="true">«</span>
															<span class="sr-only">Previous</span>
														</a>
													</li>
													<li class="page-item"><a class="page-link" href="/#">1</a></li>
													<li class="page-item"><a class="page-link" href="/#">2</a></li>
													<li class="page-item">
														<a class="page-link" href="/#" aria-label="Next">
															<span aria-hidden="true">»</span>
															<span class="sr-only">Next</span>
														</a>
													</li>
												</ul>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /Page Content -->

		<!-- Create Project Modal -->
		<div id="create_project" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Create Project</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/project/create}" method="POST" id="addForm">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Project Name</label>
										<input class="form-control" type="text" name="project_Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Client</label>
										<select class="select" name="company_Name" id="company_NameSelect1">
											<option value="">Select a client</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Start Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="start_Date">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>End Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="end_Date">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label>Rate</label>
										<input placeholder="$50" class="form-control" type="text" name="rate">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label>Type</label>
										<select class="select" name="rate_Type">
											<option value="">Select type</option>
											<option>Hourly</option>
											<option>Fixed</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Priority</label>
										<select class="select" name="priority">
											<option value="">Select priority</option>
											<option>High</option>
											<option>Medium</option>
											<option>Low</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Total Hours</label>
										<input class="form-control" type="text" name="total_Hours">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Status</label>
										<select class="select" name="status">
											<option value="">Select status</option>
											<option>Working</option>
											<option>Completed</option>
											<option>Pending</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea rows="4" class="form-control" placeholder="Enter your message here" name="description"></textarea>
							</div>

							<div class="submit-section">
								<button class="btn btn-primary submit-btn" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Create Project Modal -->

		<!-- Edit Project Modal -->
		<div id="edit_project" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Project</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/project/updateProject}" method="POST" id="editForm">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Project ID</label>
										<input type="text" readonly class="form-control floating" name="projectID">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Created by</label>
										<input class="form-control floating" type="text" name="created_By" readonly>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Project Name</label>
										<input class="form-control" type="text" name="project_Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Client</label>
										<select class="select" name="company_Name" id="company_NameSelect2">
											<option value="">Select a client</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Start Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="start_Date">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>End Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="end_Date">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label>Rate</label>
										<input placeholder="$50" class="form-control" type="text" name="rate">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label>Type</label>
										<select class="select" name="rate_Type">
											<option value="">Select type</option>
											<option>Hourly</option>
											<option>Fixed</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Priority</label>
										<select class="select" name="priority">
											<option value="">Select priority</option>
											<option>High</option>
											<option>Medium</option>
											<option>Low</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Total Hours</label>
										<input class="form-control" type="text" name="total_Hours">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Status</label>
										<select class="select" name="status">
											<option value="">Select status</option>
											<option>Working</option>
											<option>Completed</option>
											<option>Pending</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea rows="4" class="form-control" placeholder="Enter your message here" name="description"></textarea>
							</div>

							<div class="submit-section">
								<button class="btn btn-primary submit-btn" type="submit">Update</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Edit Project Modal -->

		<!-- Delete Project Modal -->
		<div class="modal custom-modal fade" id="delete_project" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Project</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="/javascript:void(0);" class="btn btn-primary continue-btn" onclick="deleteProject()">Delete</a>
								</div>
								<div class="col-6">
									<a href="/javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Project Modal -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Select2 JS -->
<script src="/assets/js/select2.min.js"></script>

<!-- Datetimepicker JS -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Summernote JS -->
<script src="/assets/plugins/summernote/dist/summernote-bs4.min.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>

<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Wait for the DOM to be fully loaded

		// Select the <select> element
		const company_NameSelect1 = document.getElementById("company_NameSelect1");
		const company_NameSelect2 = document.getElementById("company_NameSelect2");

		// Send a GET request to the endpoint
		fetch('/client/all',{
			headers: headersAuth
		})
				.then((response) => {
					if (!response.ok) {
						throw new Error("Network response was not ok");
					}
					return response.json();
				})
				.then((data) => {
					// Iterate through the fetched data and populate the <select> element
					data.forEach((client) => {
						const option1 = document.createElement("option");
						option1.value = client.company_Name;
						option1.textContent = client.company_Name;

						const option2 = document.createElement("option");
						option2.value = client.company_Name;
						option2.textContent = client.company_Name;

						company_NameSelect1.appendChild(option1);
						company_NameSelect2.appendChild(option2);
					});
				})
				.catch((error) => {
					console.error("Fetch error:", error);
				});
	});
</script>


<script th:inline="javascript">
	// Edit Project
	// JavaScript to handle the AJAX call and pre-fill the form
	var editForm = document.getElementById("editForm");

	function populateFormWithData(project) {
		editForm.querySelector('[name=projectID]').value = project.projectID;
		editForm.querySelector('[name=created_By]').value = project.created_By;
		editForm.querySelector('[name=project_Name]').value = project.project_Name;
		editForm.querySelector('[name=company_Name]').value = project.company_Name;
		editForm.querySelector('[name=start_Date]').value = project.start_Date;
		editForm.querySelector('[name=end_Date]').value = project.end_Date;
		editForm.querySelector('[name=rate]').value = project.rate;
		editForm.querySelector('[name=rate_Type]').value = project.rate_Type;
		editForm.querySelector('[name=priority]').value = project.priority;
		editForm.querySelector('[name=total_Hours]').value = project.total_Hours;
		editForm.querySelector('[name=status]').value = project.status;
		editForm.querySelector('[name=description]').value = project.description;

		// Select the <select> element for department
		var clientSelect = editForm.querySelector('[name=company_Name]');
		// Loop through the <select> options and set the selected attribute for the matching option
		for (var i = 0; i < clientSelect.options.length; i++) {
			if (clientSelect.options[i].value === project.company_Name) {
				clientSelect.options[i].selected = true;
				// Remove the default "Select a department" option
				clientSelect.querySelector('option[value=""]').remove();
				break;
			}
		}

		//
		var rate_TypeSelect = editForm.querySelector('[name=rate_Type]');
		// Loop through the <select> options and set the selected attribute for the matching option
		for (var i = 0; i < rate_TypeSelect.options.length; i++) {
			if (rate_TypeSelect.options[i].value === project.rate_Type) {
				rate_TypeSelect.options[i].selected = true;
				// Remove the default "Select a department" option
				rate_TypeSelect.querySelector('option[value=""]').remove();
				break;
			}
		}

		//
		var prioritySelect = editForm.querySelector('[name=priority]');
		// Loop through the <select> options and set the selected attribute for the matching option
		for (var i = 0; i < prioritySelect.options.length; i++) {
			if (prioritySelect.options[i].value === project.priority) {
				prioritySelect.options[i].selected = true;
				// Remove the default "Select a department" option
				prioritySelect.querySelector('option[value=""]').remove();
				break;
			}
		}

		//
		var statusSelect = editForm.querySelector('[name=status]');
		// Loop through the <select> options and set the selected attribute for the matching option
		for (var i = 0; i < statusSelect.options.length; i++) {
			if (statusSelect.options[i].value === project.status) {
				statusSelect.options[i].selected = true;
				// Remove the default "Select a department" option
				statusSelect.querySelector('option[value=""]').remove();
				break;
			}
		}
	}

	document.querySelectorAll(".edit-link").forEach(link => {
		link.addEventListener("click", function(event) {
			event.preventDefault();
			var projectID = link.getAttribute("data-project-id");
			fetch('/project/' + projectID, {
				headers: headersAuth
			})
					.then(response => response.json())
					.then(data => populateFormWithData(data))
					.catch(error => console.error(error));
		});
	});

	// JavaScript to handle the form submission and page reload
	editForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(editForm));

		fetch(editForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating project data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

<script th:inline="javascript">
	// Add Project
	// JavaScript to handle the AJAX call and pre-fill the form
	var addForm = document.getElementById("addForm");

	// JavaScript to handle the form submission and page reload
	addForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(addForm));

		fetch(addForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating project data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

<script th:inline="javascript">
	// Delete Project
	var deleteProjectId; // Variable to store the project ID

	function captureProjectId(event) {
		event.preventDefault();
		deleteProjectId = event.target.getAttribute("data-project-id");
	}

	// Function to handle the deletion
	function deleteProject() {
		// Check if deleteProjectId is set
		if (!deleteProjectId) {
			console.error("Project ID not captured.");
			return;
		}

		// Send a POST request to delete the project
		fetch('/project/delete/' + deleteProjectId, {
			method: 'POST',
			headers: headersAuth
		})
				.then(response => {
					if (response.ok) {
						// Reload the page after successful deletion
						window.location.reload();
					} else {
						console.error('Error deleting project.');
					}
				})
				.catch(error => console.error(error));
	}
</script>


<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>

</body>
</html>