<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<meta name="description" content="Smarthr - Bootstrap Admin Template">
	<meta name="keywords" content="admin, estimates, bootstrap, business, corporate, creative, management, minimal, modern, accounts, invoice, html5, responsive, CRM, Projects">
	<meta name="author" content="Dreamguys - Bootstrap Admin Template">
	<meta name="robots" content="noindex, nofollow">
	<title>Tasks</title>

	<style>
		/* CSS styles for the selected task */
		.selected-task {
			border-style: solid;
			border-color: rgb(243, 137, 7);
		}
		/* CSS styles for the selected employee */
		.selected-employee {
			border-style: solid;
			border-color: rgb(243, 137, 7);
		}
	</style>

	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.png">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/assets/css/font-awesome.min.css">

	<!-- Lineawesome CSS -->
	<link rel="stylesheet" href="/assets/css/line-awesome.min.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/assets/css/select2.min.css">

	<!-- Datetimepicker CSS -->
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css">

	<!-- Summernote CSS -->
	<link rel="stylesheet" href="/assets/plugins/summernote/dist/summernote-bs4.css">

	<!-- Main CSS -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="/assets/js/html5shiv.min.js"></script>
	<script src="/assets/js/respond.min.js"></script>
	<![endif]-->
</head>
<body>
<!-- Main Wrapper -->
<div class="main-wrapper">

	<!-- Header -->
	<div class="header">

		<!-- Logo -->
		<div class="header-left">
			<a href="/index.html" class="logo">
				<img src="/assets/img/logo.png" width="40" height="40" alt="">
			</a>
		</div>
		<!-- /Logo -->

		<a id="toggle_btn" href="/javascript:void(0);">
					<span class="bar-icon">
						<span></span>
						<span></span>
						<span></span>
					</span>
		</a>

		<!-- Header Title -->
		<div class="page-title-box">
			<h3>Enterprise resource planning</h3>
		</div>
		<!-- /Header Title -->

		<a id="mobile_btn" class="mobile_btn" href="/#sidebar"><i class="fa fa-bars"></i></a>

		<!-- Header Menu -->
		<ul class="nav user-menu">
			<li class="nav-item dropdown has-arrow main-drop">
				<a href="/#" class="dropdown-toggle nav-link" data-toggle="dropdown">
							<span class="user-img">
                                <img alt="" th:src="@{'/assets/img/profiles/' + ${user.getImageName()}}">
							<span class="status online"></span></span>
					<span th:text="${user.getFirst_Name() ?: 'ADMIN'}"></span>
				</a>
				<div class="dropdown-menu">
					<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
					<a class="dropdown-item logout-link" href="/login.html">Logout</a>
				</div>
			</li>
		</ul>
		<!-- /Header Menu -->

		<!-- Mobile Menu -->
		<div class="dropdown mobile-user-menu">
			<a href="/#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
			<div class="dropdown-menu dropdown-menu-right">
				<a class="dropdown-item" th:href="@{/profile.html/{id}(id=${user.getEmployeeID()})}">My Profile</a>
				<a class="dropdown-item logout-link" href="/login.html">Logout</a>
			</div>
		</div>
		<!-- /Mobile Menu -->

	</div>
	<!-- /Header -->

	<!-- Sidebar -->
	<div class="sidebar" id="sidebar">
		<div class="sidebar-inner slimscroll">
			<div class="sidebar-menu">
				<ul>
					<li>
						<a href="/index.html"><i class="la la-home"></i> <span>Back to Home</span></a>
					</li>
					<li class="menu-title">Projects <a href="/#" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i></a></li>
					<li th:each="project: ${projects}">
						<a th:href="@{/tasks.html/{id}(id=${project.getProjectID()})}" th:text="${project.getProject_Name()}">Project Name</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- /Sidebar -->

	<!-- Page Wrapper -->
	<div class="page-wrapper">
		<div class="chat-main-row">
			<div class="chat-main-wrapper">
				<div class="col-lg-7 message-view task-view task-left-sidebar">
					<div class="chat-window">
						<div class="fixed-header">
							<div class="navbar">
								<div class="float-left mr-auto">
									<div class="add-task-btn-wrapper">
												<span class="btn btn-white btn-sm">
													<a href="javascript:void(0);" data-toggle="modal" data-target="#add_task_modal">Add New Task</a>
												</span>
									</div>
								</div>
								<a class="task-chat profile-rightbar float-right" id="task_chat" href="/#task_window"><i class="fa fa fa-comment"></i></a>
								<ul class="nav float-right custom-menu">
									<li class="nav-item dropdown dropdown-action">
										<a href="/" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-cog"></i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<a class="dropdown-item" href="/javascript:void(0)">All Tasks</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="chat-contents">
							<div class="chat-content-wrap">
								<div class="chat-wrap-inner">
									<div class="chat-box">
										<div class="task-wrapper">
											<div class="task-list-container">
												<div class="task-list-body">
													<ul id="task-list" class="task-list">

														<li class="task" th:each="task: ${tasks}">
															<div class="task-container" th:data-task-id="${task.getTaskID()}">
																		<span class="task-action-btn task-check">
																			<span class="action-circle large complete-btn" title="Mark Complete">
																				<i class="material-icons">check</i>
																			</span>
																		</span>
																<span class="task-label" contenteditable="false" th:text="${task.getTask_Name()}">Task Name</span>
																<span class="task-action-btn task-btn-right">
																	        <span class="action-circle large" title="Assign">
																				<i class="material-icons" data-toggle="modal" data-target="#assign_user" th:data-task-id="${task.getTaskID()}">person_add</i>
																			</span>
																	        <span class="action-circle large" title="Delete Task">
																				<i class="material-icons" onclick="captureTaskId(event)" th:data-task-id="${task.getTaskID()}" data-toggle="modal" data-target="#delete_task">delete</i>
																			</span>
																		</span>
															</div>
														</li>

													</ul>
												</div>

											</div>
										</div>
										<div class="notification-popup hide">
											<p>
												<span class="task"></span>
												<span class="notification-text"></span>
											</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-5 message-view task-chat-view task-right-sidebar" id="task_window">
					<div class="chat-window">
						<div class="fixed-header">
							<div class="navbar">
								<div class="task-assign">
									<a class="task-complete-btn" id="task_complete" href="/javascript:void(0);">
										<i class="material-icons">check</i> Mark Complete
									</a>
								</div>
								<ul class="nav float-right custom-menu">
									<li class="dropdown dropdown-action">
										<a href="/" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
										<div class="dropdown-menu dropdown-menu-right">
											<div class="delete-task">

											</div>
											<a class="dropdown-item" href="/javascript:void(0)">Settings</a>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<div class="chat-contents task-chat-contents">
							<div class="chat-content-wrap">
								<div class="chat-wrap-inner">
									<div class="chat-box">
										<div class="chats">
											<h4 id="task_Name"></h4>
											<div class="task-header">
												<div class="assignee-info">
													<a href="/#" data-toggle="modal" data-target="#assignee">
														<div class="assigned-info">
															<div class="task-head-title">Priority</div>
															<div class="task-assignee" id="task_Priority"></div>
														</div>
													</a>
												</div>
												<div class="task-due-date">
													<a href="/#" data-toggle="modal" data-target="#assignee">
														<div class="due-icon">
																	<span>
																		<i class="material-icons">date_range</i>
																	</span>
														</div>
														<div class="due-info">
															<div class="task-head-title">Due Date</div>
															<div class="due-date" id="due_Date"></div>
														</div>
													</a>
												</div>
											</div>
											<hr class="task-line">
											<div class="task-desc">
												<div class="task-desc-icon">
													<i class="material-icons">subject</i>
												</div>
												<div class="task-textarea">
													<textarea class="form-control" placeholder="Description" disabled id="description"></textarea>
												</div>
											</div>
											<hr class="task-line">

											<div class="chat chat-left">

											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="chat-footer">
							<div class="message-bar">
								<div class="message-inner">

									

									<div class="message-area">
										<div class="input-group">
											<textarea class="form-control" placeholder="Type message..." name="message"></textarea>
											<span class="input-group-append">
														<button class="btn btn-primary" type="button"><i class="fa fa-send"></i></button>
													</span>
										</div>
									</div>
								</div>
							</div>
							<div class="project-members task-followers">

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Create Project Modal -->
		<div id="create_project" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Create Project</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/project/create}" method="POST" id="addForm">
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Project Name</label>
										<input class="form-control" type="text" name="project_Name">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Client</label>
										<select class="select" name="company_Name" id="company_NameSelect1">
											<option value="">Select a client</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Start Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="start_Date">
										</div>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>End Date</label>
										<div class="cal-icon">
											<input class="form-control datetimepicker" type="text" name="end_Date">
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label>Rate</label>
										<input placeholder="$50" class="form-control" type="text" name="rate">
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label>Type</label>
										<select class="select" name="rate_Type">
											<option value="">Select type</option>
											<option>Hourly</option>
											<option>Fixed</option>
										</select>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Priority</label>
										<select class="select" name="priority">
											<option value="">Select priority</option>
											<option>High</option>
											<option>Medium</option>
											<option>Low</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Total Hours</label>
										<input class="form-control" type="text" name="total_Hours">
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<label>Status</label>
										<select class="select" name="status">
											<option value="">Select status</option>
											<option>Working</option>
											<option>Completed</option>
											<option>Pending</option>
										</select>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea rows="4" class="form-control" placeholder="Enter your message here" name="description"></textarea>
							</div>

							<div class="submit-section">
								<button class="btn btn-primary submit-btn" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Create Project Modal -->

		<!-- Assignee Modal -->
		<div id="assignee" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Assign to this task</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="input-group m-b-30">
							<input placeholder="Search to add" class="form-control search-input" type="text">
							<span class="input-group-append">
										<button class="btn btn-primary">Search</button>
									</span>
						</div>
						<div>
							<ul class="chat-user-list">
								<li>
									<a href="/#">
										<div class="media">
											<span class="avatar"><img alt="" src="/assets/img/profiles/avatar-09.jpg"></span>
											<div class="media-body align-self-center text-nowrap">
												<div class="user-name">Richard Miles</div>
												<span class="designation">Web Developer</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/#">
										<div class="media">
											<span class="avatar"><img alt="" src="/assets/img/profiles/avatar-10.jpg"></span>
											<div class="media-body align-self-center text-nowrap">
												<div class="user-name">John Smith</div>
												<span class="designation">Android Developer</span>
											</div>
										</div>
									</a>
								</li>
								<li>
									<a href="/#">
										<div class="media">
													<span class="avatar">
														<img alt="" src="/assets/img/profiles/avatar-16.jpg">
													</span>
											<div class="media-body align-self-center text-nowrap">
												<div class="user-name">Jeffery Lalor</div>
												<span class="designation">Team Leader</span>
											</div>
										</div>
									</a>
								</li>
							</ul>
						</div>
						<div class="submit-section">
							<button class="btn btn-primary submit-btn">Assign</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Assignee Modal -->

		<!-- Task Followers Modal -->
		<div id="assign_user" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add employee to this task</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<div class="input-group m-b-30">
							<input id="searchInput" placeholder="Search to add" class="form-control search-input" type="text">
							<span class="input-group-append">
                                <button id="searchButton" class="btn btn-primary">Search</button>
                            </span>
						</div>
						<div>
							<ul id="employeeList" class="chat-user-list">

							</ul>
						</div>
						<div class="submit-section">
							<button id="submitButton" class="btn btn-primary submit-btn">Add to Follow</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Task Followers Modal -->

		<!-- Add Task Modal -->
		<div id="add_task_modal" class="modal custom-modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">Add Task</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
						<form th:action="@{/task/create}" method="POST" id="addFormTask">
							<input type="hidden" name="projectID" th:value="${projectTasks.getProjectID()}">
							<div class="form-group">
								<label>Task Name</label>
								<input type="text" class="form-control" name="task_Name">
							</div>
							<div class="form-group">
								<label>Task Priority</label>
								<select class="form-control select" name="task_Priority">
									<option>High</option>
									<option>Normal</option>
									<option>Low</option>
								</select>
							</div>
							<div class="form-group">
								<label>Due Date</label>
								<div class="cal-icon"><input class="form-control datetimepicker" type="text" name="due_Date"></div>
							</div>
							<div class="form-group">
								<label>Description</label>
								<textarea rows="4" class="form-control" placeholder="Enter the description" name="description"></textarea>
							</div>

							<div class="submit-section text-center">
								<button class="btn btn-primary submit-btn" type="submit">Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- /Add Task Modal -->

		<!-- Delete Task Modal -->
		<div class="modal custom-modal fade" id="delete_task" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="form-header">
							<h3>Delete Task</h3>
							<p>Are you sure want to delete?</p>
						</div>
						<div class="modal-btn delete-action">
							<div class="row">
								<div class="col-6">
									<a href="javascript:void(0);" class="btn btn-primary continue-btn" onclick="deleteTask()">Delete</a>
								</div>
								<div class="col-6">
									<a href="javascript:void(0);" data-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Task Modal -->

	</div>
	<!-- /Page Wrapper -->

</div>
<!-- /Main Wrapper -->

<!-- jQuery -->
<script src="/assets/js/jquery-3.2.1.min.js"></script>

<!-- Bootstrap Core JS -->
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- Slimscroll JS -->
<script src="/assets/js/jquery.slimscroll.min.js"></script>

<!-- Select2 JS -->
<script src="/assets/js/select2.min.js"></script>

<!-- Datetimepicker JS -->
<script src="/assets/js/moment.min.js"></script>
<script src="/assets/js/bootstrap-datetimepicker.min.js"></script>

<!-- Summernote JS -->
<script src="/assets/plugins/summernote/dist/summernote-bs4.min.js"></script>

<!-- Task JS -->
<script src="/assets/js/task.js"></script>

<!-- Custom JS -->
<script src="/assets/js/app.js"></script>

<script>
	// Retrieve the token from local storage
	const token = localStorage.getItem("jwtToken");

	// Before making authenticated requests, check if the token has expired
	function isTokenExpired(token) {
		if (!token) {
			return true; // Token is missing or empty
		}

		const decodedToken = parseJwt(token);
		const expirationTime = decodedToken.exp * 1000; // Convert to milliseconds

		// Check if the current time is greater than or equal to the token's expiration time
		return Date.now() >= expirationTime;
	}

	function parseJwt(token) {
		// Decode the JWT token (assuming it's in the correct format)
		const base64Url = token.split(".")[1];
		const base64 = base64Url.replace(/-/g, "+").replace(/_/g, "/");
		return JSON.parse(atob(base64));
	}

	// Verify Token expiration
	if (isTokenExpired(token)) {
		// Token has expired, display an alert message and redirect to the login page
		alert("Your session has expired. Please log in again.");
		window.location.href = "/login.html";
	} else {
		// Token is still valid, proceed with the authenticated request

		console.log("Token is valid.");
	}

	// Create headers object with the Authorization header
	const headersAuth = {
		'Authorization': `Bearer ${token}`
	};
	// Create headers object with the Content-Type and Authorization headers
	const headers = {
		'Content-Type': 'application/x-www-form-urlencoded',
		'Authorization': `Bearer ${token}`
	};
</script>


<script>
	document.addEventListener("DOMContentLoaded", function () {
		// Wait for the DOM to be fully loaded

		// Select the <select> element
		const company_NameSelect1 = document.getElementById("company_NameSelect1");

		// Send a GET request to the endpoint
		fetch('/client/all',{
			headers: headersAuth
		})
				.then((response) => {
					if (!response.ok) {
						throw new Error("Network response was not ok");
					}
					return response.json();
				})
				.then((data) => {
					// Iterate through the fetched data and populate the <select> element
					data.forEach((client) => {
						const option1 = document.createElement("option");
						option1.value = client.company_Name;
						option1.textContent = client.company_Name;

						company_NameSelect1.appendChild(option1);
					});
				})
				.catch((error) => {
					console.error("Fetch error:", error);
				});
	});
</script>



<script th:inline="javascript">
	// Add Project
	// JavaScript to handle the AJAX call and pre-fill the form
	var addForm = document.getElementById("addForm");

	// JavaScript to handle the form submission and page reload
	addForm.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(addForm));

		fetch(addForm.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating project data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

<script th:inline="javascript">
	// Add Task
	// JavaScript to handle the AJAX call and pre-fill the form
	var addFormTask = document.getElementById("addFormTask");

	// JavaScript to handle the form submission and page reload
	addFormTask.addEventListener('submit', function(event) {
		event.preventDefault();

		// Serialize the form data
		const formData = new URLSearchParams(new FormData(addFormTask));

		fetch(addFormTask.action, {
			method: 'POST',
			headers: headers,
			body: formData
		})
				.then(response => {
					if (response.ok) {
						window.location.reload(); // Reload the page after successful update
					} else {
						console.error('Error updating task data.');
					}
				})
				.catch(error => console.error(error));
	});
</script>

<script th:inline="javascript">
	// Delete Task
	var deleteTaskId; // Variable to store the Task ID

	function captureTaskId(event) {
		event.preventDefault();
		deleteTaskId = event.target.getAttribute("data-task-id");
	}

	// Function to handle the deletion
	function deleteTask() {
		// Check if deleteTaskId is set
		if (!deleteTaskId) {
			console.error("Task ID not captured.");
			return;
		}

		// Send a POST request to delete the task
		fetch('/task/delete/' + deleteTaskId, {
			method: 'POST',
			headers: headersAuth
		})
				.then(response => {
					if (response.ok) {
						// Reload the page after successful deletion
						window.location.reload();
					} else {
						console.error('Error deleting task.');
					}
				})
				.catch(error => console.error(error));
	}
</script>


<script>
	// Variable to store the taskID
	let selectedTaskID;

	document.addEventListener("DOMContentLoaded", function() {
		// Attach click event listeners to the elements
		const addFollowerButtons = document.querySelectorAll("[data-toggle='modal'][data-target='#assign_user']");

		addFollowerButtons.forEach(function(button) {
			button.addEventListener("click", function(event) {
				// Extract the taskID from the clicked element's data attribute
				selectedTaskID = button.getAttribute("th:data-task-id");
			});
		});
	});
</script>


<script>
	document.addEventListener("DOMContentLoaded", function() {
		const tasks = document.querySelectorAll(".task");

		tasks.forEach(function(li) {
			li.addEventListener("click", function(event) {
				// Remove the "selected-task" class from all list items
				const allListItems = document.querySelectorAll('.task-list li');
				allListItems.forEach(item => item.classList.remove('selected-task'));

				// Add the "selected-task" class to the clicked task
				li.classList.add('selected-task');

				//****
				const taskID = li.querySelector('.task-container').getAttribute('data-task-id');
				selectedTaskID = taskID;

				// Send a request to your API to fetch task-related data
				fetch(`/task/${taskID}`, {
					headers: headersAuth
				})
						.then(response => response.json())
						.then(task => {
							// Update the element
							const task_Name = document.getElementById("task_Name");
							task_Name.textContent = task.task_Name;

							const task_Priority = document.getElementById("task_Priority");
							task_Priority.textContent = task.task_Priority;

							const due_Date = document.getElementById("due_Date");
							due_Date.textContent = task.due_Date;

							const description = document.getElementById("description");
							description.textContent = task.description;
						})
						.catch(error => {
							console.error("Error fetching data:", error);
						});

				fetch(`/employeeTask/ByTaskID/${taskID}`, {
					headers: headersAuth
				})
						.then(response => response.json())
						.then(employeeTasks => {
							const followersContainer = document.querySelector('.project-members.task-followers');

							// Clear the existing content
							followersContainer.innerHTML = '';

							// Create and append the Followers title
							const followersTitle = document.createElement('span');
							followersTitle.className = 'followers-title';
							followersTitle.textContent = 'Followers';
							followersContainer.appendChild(followersTitle);

							employeeTasks.forEach(employeeTask => {
								const followerName = employeeTask.first_Name + ' ' + employeeTask.last_Name; // Replace with the actual property name
								const followerAvatarURL = '/assets/img/profiles/' + employeeTask.imageName; // Replace with the actual property name

								// Create follower container
								const followerContainer = document.createElement('a');
								followerContainer.className = 'avatar';
								followerContainer.href = '/#';
								followerContainer.setAttribute('data-toggle', 'tooltip');
								followerContainer.setAttribute('title', followerName);

								// Create follower image
								const followerImage = document.createElement('img');
								followerImage.alt = '';
								followerImage.src = followerAvatarURL;

								// Assemble elements
								followerContainer.appendChild(followerImage);
								followersContainer.appendChild(followerContainer);
							});

							// Add the "Add Follower" link
							const followersAddLink = document.createElement('a');
							followersAddLink.href = '/#';
							followersAddLink.className = 'followers-add';
							followersAddLink.setAttribute('data-toggle', 'modal');
							followersAddLink.setAttribute('data-target', '#assign_user');

							const addIcon = document.createElement('i');
							addIcon.className = 'material-icons';
							addIcon.textContent = 'add';

							followersAddLink.appendChild(addIcon);
							followersContainer.appendChild(followersAddLink);
						})
						.catch(error => {
							console.error("Error fetching data:", error);
						});

				fetch(`/messageTask/ByTaskID/${taskID}`, {
					headers: headersAuth
				})
						.then(response => response.json())
						.then(messages => {
							const chatContainer = document.querySelector('.chat.chat-left');

							// Clear existing chat messages
							chatContainer.innerHTML = '';

							messages.forEach(message => {
								const userName = message.first_Name + ' ' + message.last_Name + '  ';
								const userAvatarURL = '/assets/img/profiles/' + message.imageName;
								const chatTime = message.date;
								const chatContent = message.message;
								const employeeID = message.employeeID;


								// Create chat avatar
								const chatAvatar = document.createElement('div');
								chatAvatar.className = 'chat-avatar';

								const avatarLink = document.createElement('a');
								avatarLink.href = '/profile.html/' + employeeID;
								avatarLink.className = 'avatar';

								const avatarImage = document.createElement('img');
								avatarImage.alt = '';
								avatarImage.src = userAvatarURL;

								avatarLink.appendChild(avatarImage);
								chatAvatar.appendChild(avatarLink);
								chatContainer.appendChild(chatAvatar);

								// Create chat body
								const chatBody = document.createElement('div');
								chatBody.className = 'chat-body';

								const chatBubble = document.createElement('div');
								chatBubble.className = 'chat-bubble';

								const chatContentDiv = document.createElement('div');
								chatContentDiv.className = 'chat-content';

								const chatUser = document.createElement('span');
								chatUser.className = 'task-chat-user';
								chatUser.textContent = userName;

								const chatTimeSpan = document.createElement('span');
								chatTimeSpan.className = 'chat-time';
								chatTimeSpan.textContent = chatTime;

								const chatMessage = document.createElement('p');
								chatMessage.textContent = chatContent;

								chatContentDiv.appendChild(chatUser);
								chatContentDiv.appendChild(chatTimeSpan);
								chatContentDiv.appendChild(chatMessage);

								chatBubble.appendChild(chatContentDiv);
								chatBody.appendChild(chatBubble);
								chatContainer.appendChild(chatBody);
							});
						})
						.catch(error => {
							console.error("Error fetching data:", error);
						});


				//***Send message:
				// Clear existing content
				const messageContainer = document.querySelector('.message-area');
				messageContainer.innerHTML = '';

				// Create and append the input group
				const inputGroup = document.createElement('div');
				inputGroup.className = 'input-group';

				const textarea = document.createElement('textarea');
				textarea.className = 'form-control';
				textarea.placeholder = 'Type message...';
				textarea.name = 'message';

				const inputGroupAppend = document.createElement('span');
				inputGroupAppend.className = 'input-group-append';

				const sendButton = document.createElement('button');
				sendButton.className = 'btn btn-primary';
				sendButton.type = 'button';

				const sendIcon = document.createElement('i');
				sendIcon.className = 'fa fa-send';

				sendButton.appendChild(sendIcon);
				inputGroupAppend.appendChild(sendButton);
				inputGroup.appendChild(textarea);
				inputGroup.appendChild(inputGroupAppend);

				// Append input group to the chat container
				messageContainer.appendChild(inputGroup);

				// Add event listener to send button
				sendButton.addEventListener('click', function() {
					const taskID = selectedTaskID;
					const message = textarea.value;

					const formData = new URLSearchParams();
					formData.append('taskID', taskID);
					formData.append('message', message);

					// Send request to API endpoint
					fetch('/messageTask/create', {
						method: 'POST',
						headers: headers,
						body: formData.toString() // Serialize form data
					})
							.then(response => {
								if (response.ok) {
									fetch(`/messageTask/ByTaskID/${taskID}`, {
										headers: headersAuth
									})
											.then(response => response.json())
											.then(messages => {
												const chatContainer = document.querySelector('.chat.chat-left');

												// Clear existing chat messages
												chatContainer.innerHTML = '';

												messages.forEach(message => {
													const userName = message.first_Name + ' ' + message.last_Name;
													const userAvatarURL = '/assets/img/profiles/' + message.imageName;
													const chatTime = message.date;
													const chatContent = message.message;
													const employeeID = message.employeeID;


													// Create chat avatar
													const chatAvatar = document.createElement('div');
													chatAvatar.className = 'chat-avatar';

													const avatarLink = document.createElement('a');
													avatarLink.href = '/profile.html/' + employeeID;
													avatarLink.className = 'avatar';

													const avatarImage = document.createElement('img');
													avatarImage.alt = '';
													avatarImage.src = userAvatarURL;

													avatarLink.appendChild(avatarImage);
													chatAvatar.appendChild(avatarLink);
													chatContainer.appendChild(chatAvatar);

													// Create chat body
													const chatBody = document.createElement('div');
													chatBody.className = 'chat-body';

													const chatBubble = document.createElement('div');
													chatBubble.className = 'chat-bubble';

													const chatContentDiv = document.createElement('div');
													chatContentDiv.className = 'chat-content';

													const chatUser = document.createElement('span');
													chatUser.className = 'task-chat-user';
													chatUser.textContent = userName;

													const chatTimeSpan = document.createElement('span');
													chatTimeSpan.className = 'chat-time';
													chatTimeSpan.textContent = '  ' + chatTime;

													const chatMessage = document.createElement('p');
													chatMessage.textContent = chatContent;

													chatContentDiv.appendChild(chatUser);
													chatContentDiv.appendChild(chatTimeSpan);
													chatContentDiv.appendChild(chatMessage);

													chatBubble.appendChild(chatContentDiv);
													chatBody.appendChild(chatBubble);
													chatContainer.appendChild(chatBody);
												});
											})
											.catch(error => {
												console.error("Error fetching data:", error);
											});
									textarea.value = '';
								} else {
									console.error('Error sending message.');
								}
							})
							.catch(error => {
								console.error('Error sending message:', error);
							});
				});

				//*****

				const deleteContainer = document.querySelector('.delete-task');
				// Clear the existing content
				deleteContainer.innerHTML = '';
				// Add the "Delete Task" link with data-task-id attribute
				const deleteTaskLink = document.createElement('a');
				deleteTaskLink.className = 'dropdown-item';
				deleteTaskLink.setAttribute('onclick', 'captureTaskId(event)');
				deleteTaskLink.setAttribute('data-target', '#delete_task');
				deleteTaskLink.setAttribute('href', '/#');
				deleteTaskLink.setAttribute('data-toggle', 'modal');
				deleteTaskLink.textContent = 'Delete Task';
				deleteTaskLink.setAttribute('data-task-id', taskID);

				// Append the "Delete Task" link to the container
				deleteContainer.appendChild(deleteTaskLink);
			});
		});
	});
</script>




<script>
	// Store the selected employee data for submission
	let selectedEmployee = null;

	// Function to update the employee list based on the JSON data
	function updateEmployeeList(employees) {
		const employeeList = document.getElementById('employeeList');
		employeeList.innerHTML = ''; // Clear the previous list
		employees.forEach((employee) => {
			const li = document.createElement('li');
			li.innerHTML = `
                <div class="media" data-employee='${JSON.stringify(employee)}'>
                    <span class="avatar"><img alt="" data-image="${employee.imageName}"/></span>
                    <div class="media-body align-self-center text-nowrap">
                        <div class="user-name">${employee.first_Name} ${employee.last_Name}</div>
                        <span class="designation">${employee.designation}</span>
                    </div>
                </div>`;
			li.addEventListener('click', function () {
				// Remove the "selected-employee" class from all list items
				const allListItems = document.querySelectorAll('.chat-user-list li');
				allListItems.forEach(item => item.classList.remove('selected-employee'));

				// Add the "selected-employee" class to the clicked employee
				li.classList.add('selected-employee');

				selectedEmployee = employee;
			});
			employeeList.appendChild(li);

			// Set the image source using Thymeleaf data attribute
			const imgElement = li.querySelector('img[data-image]');
			imgElement.src = `/assets/img/profiles/${imgElement.getAttribute('data-image')}`;
		});
	}

	// Function to handle the search button click event
	function searchEmployees() {
		const searchInput = document.getElementById('searchInput').value;
		fetch('/employee/searchEmployees/' + searchInput, {
			headers: headersAuth
		})
				.then((response) => response.json())
				.then((data) => {
					updateEmployeeList(data); // Update the list with fetched data
				})
				.catch((error) => {
					console.error('Error fetching employees:', error);
				});
	}

	// Function to handle the "Submit" button click event
	function submitEmployeeTask() {
		if (selectedEmployee) {
			// Create a new FormData object and append the selectedEmployee data to it
			const formData = new FormData();
			formData.append("taskID", selectedTaskID);
			formData.append("employeeID", selectedEmployee.employeeID);
			formData.append("first_Name", selectedEmployee.first_Name);
			formData.append("last_Name", selectedEmployee.last_Name);
			formData.append("designation", selectedEmployee.designation);
			formData.append("imageName", selectedEmployee.imageName);

			// Make the API call to check if the EmployeeTask already exists
			fetch('/employeeTask/ByEmployeeIDAndTaskID?employeeID=' + selectedEmployee.employeeID + '&taskID=' + selectedTaskID, {
				method: 'GET',
				headers: headersAuth
			})
					.then(response => {
						if (response.status === 404) {
							// EmployeeTask does not exist: Make the API call to create the EmployeeTask
							return fetch('/employeeTask/create', {
								method: 'POST',
								headers: headersAuth,
								body: formData
							});
						} else if (response.ok) {
							// EmployeeTask already exists: Show an error alert
							alert('Employee already affected for this task, try again!');
							throw new Error('Employee already affected for this task');
						} else {
							// Handle other response errors
							throw new Error('Request failed: ' + response.statusText);
						}
					})
					.then(response => {
						if (response.ok) {
							// Successful submission: Reload the page
							window.location.reload();
						} else {
							// Submission failed: Show an error alert
							alert('Failed to create EmployeeTask. Please try again.');
						}

						// Clear the selectedEmployee after submission (optional)
						selectedEmployee = null;
					})
					.catch(error => {
						console.error('Error creating EmployeeTask:', error);
						// Handle the error
					});
		}

		// Remove the "selected-employee" class from all list items
		const allListItems = document.querySelectorAll('.chat-user-list li');
		allListItems.forEach(item => item.classList.remove('selected-employee'));
	}



	// Attach the search function to the search button
	document.getElementById('searchButton').addEventListener('click', searchEmployees);
	// Attach the submit function to the submit button
	document.getElementById('submitButton').addEventListener('click', submitEmployeeTask);
</script>


<script>
	// Select all elements with the class "logout-link" and attach the click event listener to each of them
	const logoutLinks = document.querySelectorAll(".logout-link");

	logoutLinks.forEach((logoutLink) => {
		logoutLink.addEventListener("click", (event) => {
			event.preventDefault(); // Prevent the link from navigating immediately

			fetch("/logout/", {
				method: "POST",
				headers: headersAuth
			})
					.then((response) => {
						if (response.ok) {
							// Logout was successful, perform any additional client-side cleanup
							localStorage.removeItem("jwtToken");
							alert("Logout successful"); // Display a message to the user
							window.location.href = '/login.html'; // Redirect to the login page
						} else {
							// Handle logout error
							console.error("Logout failed");
						}
					})
					.catch((error) => {
						// Handle fetch or network error
						console.error("Logout error:", error);
					});
		});
	});
</script>

</body>
</html>